@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat',sans-serif;
  margin: 0;
}

/*--------------------Estilos base---------------------*/
img{
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
.container{
  width: 100%;
  margin: auto;
}
.container--flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.columna{
  width: 50%;

}

/*--------------------------Estilos header-----------------*/
.main-header{
  width: 100%
}
.logo{
  font-size: 1.8em;
  color: #DE423A;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
}
.main-header__contactInfo__telefono{
  background: #DE423A;
  color: white;
  margin: 0 auto;
  padding: 10px;
}
.main-header__contactInfo__ubicacion{
  padding: 10px;
  margin: 0;
}
.main-header[class*="icon-"]:before {
  position: relative;
  top: 2px;
  right: 5px;
}
/*----------------- Estilos del Menu------------*/

.main-nav{
  width: 100%;
  position: relative;
  z-index: 2000;
  padding: 10px;
}
.icon-menu{
  display: block;
  color: white;
  margin-bottom: -30px;
  border: 1px solid white;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;

}
.social-icon{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  cursor: pointer;

}
.social-icon [class*="icon-"] {
  color: black;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;


}
.social-icon__link{
  text-decoration: none;

}
.menu{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.85);
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height .3s linear;
}
.menu__link{
  display: block;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;

}

.menu__link:hover {
  background: red;
}
.mostrar {
  height: 196px;
}


/*----------------Estilos de Banner--------------------*/
.banner {
  margin-top: -80px;
  position: relative;
}
.banner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
  top: 0;
}
.banner__img {
  width: 100%;
  height: 500px;
  object-fit:cover;
}
.banner__content {
  width: 90%;
  font-size: 1.5em;
  color: white;
  text-align: center;
  position: absolute;
  z-index: 1500;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
}

/*----------------------Estilos Principales------------------------*/

.grupo--color .container {
  background: #DE423A;
  color: white;
  padding: 10px;
  text-align: center;
}
.main__title{
  margin: 15px 0 ;
  font-size: 1.8em;
  font-family: 'Pacifico',cursive;
  font-weight: 100;
}
.columna__title{
  font-size: 1.3em;

}
.main__Description .columna:nth-child(2) {
  padding: 10px;
}
.btn{
  display: block;
  text-align: center;
  text-decoration: none;
  width: 120px;
  background: #DE423A;
  color: white;
  padding: 10px;
  margin: 10px auto;
}
.grupo__title{
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: 100;
  font-size: 1.8em;
  margin:30px;
}
.grupoespeciales-dehoy .columna {
  margin-bottom: 30px;
  text-align: center;
}
.especial-dehoy__img{
  margin: auto;

}
.title-especial-dehoy{
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 20px;
  padding-top: 10px;
}
.precio-especial-dehoy {
  text-align: center;
  font-size: 1.5em;
  color: #DE423A;
  font-weight: bold;
}
.columnacolumna--50 {
  width: 50%;

}

/*--------------------- Estilos del footer----------------*/


.main-footer {
  background: #222;
  color: white;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

}
.columnacolumna--50-25 {


}
.copy {
  text-align: center;
  margin: auto;
  margin-top: 15px;
}
.main-footer [class*="icon-"] {
  color: white;
  text-decoration: none;
}

.main-footer [class*="icon-"]:before {
  position: relative;
  top: 3px;
  right: 5px;
}

.columna-33-3{
  width:33.3%;
  float: left;
}
.container__flex p {
  margin-bottom: 30px;
}

/*----------------Estilos del responsive-----------------*/
@media screen and (max-width:480px) {
  .logo{
    color: white;
  }
  .main-header__contactInfo {
    text-align: right;
  }
  .main-header__contactInfo__telefono {
    background: none;
  }
  .main-header__contactInfo__ubicacion{
    color: white;
  }

  .columnacolumna--50 {
    width: 50%;
  }
  .columnacolumna--50-25 {
    width: 50%;
  }

  .main-nav{
    background: rgba(0, 0, 0, 0.85);
  }
  .banner{
    margin-top: -150px;
    z-index: -1000;
  }
  .banner__content {
    font-size: 2em;
  }
  .main__Description .columna:nth-child(2) {
    padding-left: : 30px;
    font-size: .9em;
  }
  .main__Description  .btn {
    margin: 0;
  }
  .especiales-dehoy .columna {
    border: 5px solid #ddd;
    padding: 5px;
  }
  .especiales-dehoy__img {
    height: 200px;
    object-fit: cover;
  }
  .columna-33-3{
    width:33.3%;
    float: left;
  }
  .container__flex p {
    margin-bottom: 30px;
  }



}
